.listWrapper{
    position: fixed;
    bottom: 18vh;    
    width: 100vw;
}

.bookListDiv > button {
    border: 1px solid gray;
    font-size: 1em;
    border-radius: 10px;
    text-decoration: none;
    background-color: lightgray;
    padding: 0.2em 0.5em;
    margin: 0.3vw 1vw 0vw 1vw;
  }

@media only screen and (max-width: 600px) {
    .bookListDiv > button {
        margin: 1vw 1vw 0vw 1vw;
  }
}

  .tagsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background-color:rgb(240, 240, 240);
    bottom: 10vh;    
    width: 100vw;
}

.tagsWrapper > button {
    border: 1px solid gray;
    font-size: 1em;
    border-radius: 10px;
    text-decoration: none;
    background-color: lightgray;
    padding: 0.2em 0.5em;
    margin: 1vw;
  }


ul {
    list-style-type: none;
    padding: 0%;
}

.listTitle{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: lightgray;
    margin: 0px;
    height: 2em;
    padding-top: 10px;
    text-align: center;
}

.listItem{
    padding: 0%;
    margin: 0%;
    text-decoration: underline;
    color: #0000EE;
}

.lists{
    display: flex;
    background-color: rgba(29, 29, 29, 0.829);
    background-color: rgba(211, 211, 211, 0.63);
    backdrop-filter: blur(3px);
    height: 55vh;
}

.bookListDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow-y: scroll;
}

.bookListDiv li{
    margin: 0px 0px 5px 10px;
    text-decoration: underline;
}

.isHidden{
    display: none;
}